{% extends 'base.html' %} {% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/btn_ct.css' %}">

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 d-flex justify-content-center align-items-center" style="height: 100vh;"> <!-- Ajustamos la columna a un tamaño específico -->

      <div class="card card-body w-100"> <!-- Aseguramos que la tarjeta use el ancho disponible -->
        <h1 class="text-center">Crear Tarea</h1> <!-- Título centrado -->

        {{ error }}
        <form action="/create_task/" method="POST">
          {% csrf_token %}
          {{ form }}

          <button class="w-100 mt-3">Guardar Tarea</button> <!-- Botón que ocupa todo el ancho -->
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}